<aside class="sidebar">
  <div class="sidebar-header">
    <h2 class="logo-text">
      <a href="dashboard.html" class="logo-link">SFRMS</a>
    </h2>
  </div>

  <nav class="sidebar-menu">
    <ul id="menuList"></ul>
  </nav>

  <div class="sidebar-footer">
  <button class="logout-btn" onclick="logout()">
    <span class="material-symbols-rounded">logout</span>
    <span>Logout</span>
  </button>

  <div class="footer-divider"></div>
  <div class="footer-meta">Developed by Amn</div>
  <div class="footer-copy">© 2025 SFRMS. All rights reserved.</div>
</div>

</aside>

<script>
  // auto current year
  document.getElementById("year").textContent = new Date().getFullYear();
</script>
