<link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded" rel="stylesheet" />

<header class="topbar">
  <div class="topbar-left">

    <!-- Hamburger for Mobile -->
    <span class="material-symbols-rounded hamburger" onclick="toggleSidebar()">
      menu
    </span>

    <div class="greeting">
      <h3>Hello, <span id="name"></span> 👋</h3>
      <p class="subtext" id="roleLabel"></p>
    </div>
  </div>

  <div class="topbar-right">
    <div class="user-profile">
  <img id="userAvatar" class="avatar"
  src="https://api.dicebear.com/9.x/fun-emoji/svg?seed=${Math.random()}" />


      <div class="user-details">
        <span class="user-name" id="username"></span>
        <span class="user-role" id="role"></span>
      </div>

      <button class="logout-icon" onclick="logout()">
        <span class="material-symbols-rounded">logout</span>
      </button>
    </div>
  </div>
</header>
